.hero__inner-content {
  margin-left: 25px;
  margin-right: 25px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  min-height: 339px;
}

.hero__content {
  padding-top: 60px;
}

.hero__body {
  padding: 0;
}

.homepage-services-and-info__list {
  grid-template-rows: initial;
}

.govuk-header__logo {
  width: 100%;
}

.govuk-header__product-name {
  border-left: 1px solid white;
  padding-left: 20px;
  vertical-align: text-bottom;
}

.govuk-header__link.govuk-header__link--homepage {
  margin-right: 20px;
}

.design-history__column h2 {
  border-top: 3px solid black;
  padding-top: 20px;
}
